body {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    font-size: 50px;

}

.red-color {
    color: red;
}

.flexible-container {
    display: flex;
    margin-bottom: 10px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: wheat;
    font-weight: 700;
    border-radius: 10%;
}

.Experience-item {
    width: 55%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 10%;

    box-shadow: 10px 10px 40px blue;
}

footer p {
    text-align: center;
}